<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/originals/93/89/5a/93895a8c2e6f2684f46eed06be17b538.jpg" alt="The God Father" class = "image-responsive">
      <div class="caption">
        <h3>The God Father</h3>
        <div>
        	<div class = "clearfix">
        		<div class = "amount pull-left">$ 12</div>
        		<a href="#" class="btn btn-default pull-right" role="button">Add to Cart</a>
        	</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/originals/93/89/5a/93895a8c2e6f2684f46eed06be17b538.jpg" alt="The God Father" class = "image-responsive">
      <div class="caption">
        <h3>The God Father</h3>
        <div>
        	<div class = "clearfix">
        		<div class = "amount pull-left">$ 12</div>
        		<a href="#" class="btn btn-default pull-right" role="button">Add to Cart</a>
        	</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/originals/93/89/5a/93895a8c2e6f2684f46eed06be17b538.jpg" alt="The God Father" class = "image-responsive">
      <div class="caption">
        <h3>The God Father</h3>
        <div>
        	<div class = "clearfix">
        		<div class = "amount pull-left">$ 12</div>
        		<a href="#" class="btn btn-default pull-right" role="button">Add to Cart</a>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/originals/93/89/5a/93895a8c2e6f2684f46eed06be17b538.jpg" alt="The God Father" class = "image-responsive">
      <div class="caption">
        <h3>The God Father</h3>
        <div>
        	<div class = "clearfix">
        		<div class = "amount pull-left">$ 12</div>
        		<a href="#" class="btn btn-default pull-right" role="button">Add to Cart</a>
        	</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/originals/93/89/5a/93895a8c2e6f2684f46eed06be17b538.jpg" alt="The God Father" class = "image-responsive">
      <div class="caption">
        <h3>The God Father</h3>
        <div>
        	<div class = "clearfix">
        		<div class = "amount pull-left">$ 12</div>
        		<a href="#" class="btn btn-default pull-right" role="button">Add to Cart</a>
        	</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/originals/93/89/5a/93895a8c2e6f2684f46eed06be17b538.jpg" alt="The God Father" class = "image-responsive">
      <div class="caption">
        <h3>The God Father</h3>
        <div>
        	<div class = "clearfix">
        		<div class = "amount pull-left">$ 12</div>
        		<a href="#" class="btn btn-default pull-right" role="button">Add to Cart</a>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>